/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#form{
  position: relative;
  left:550px;
}
#imgLock{
  position: relative;
  height:20px;
  right:223px;
  top:30px;
}
#password:focus, #password:first-line {
    background-color: white;
}
#email:focus, #email:first-line {
    background-color: white;
}
#password {

    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */         /* assuming we don't want any borders */
    height: 35px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
#password::-webkit-input-placeholder{
  position: relative;
  left:10px
}
#password{
  position: relative;
  right:228px
}
#lock{
  position: relative;;;
  left:-290;
}
#buttons{
  position: relative;
  top:56px;
  right:400px;
}
